html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul li:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button,
label {
    cursor: pointer;
}

input,
button,
textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input::placeholder {
    color: inherit;
}

button {
    cursor: pointer;
}

input,
textarea {
    display: block;
    resize: none;
}

body {
    font-size: 14px;
    line-height: 19px;
    color: #242424;
    width: 100%;
    font-family: 'Manrope', arial, sans-serif;
}

.container {
    max-width: 1325px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 100px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 50px;
    filter: brightness(150%);
    margin-left: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-filter: brightness(150%);
}

.d-flex {
    gap: 15px;
}

.navbar-nav {
    gap: 20px;
}

.main {
    background: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 868px;
}

.main_tit {
    color: rgb(10, 4, 75);
    font-family: Pacifico;
    font-size: 42px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: left;
}

.main_left {
    max-width: 550px;
    text-align: center;
    padding: 100px 0 0 100px;
}

.main_txt {
    color: rgb(10, 4, 75);
    font-family: Lobster;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.4px;
    text-align: left;
}

.take {
    border-radius: 8px;
    background: rgb(93, 62, 168);
    width: 189px;
    height: 44px;
}

.use_card {
    box-sizing: border-box;
    border: 1.5px solid rgb(219, 223, 208);
    border-radius: 12px;

    /* Neutral/02 */
    background: rgb(249, 249, 247);
    width: 416px;
    height: 408px;
}

.use_img {
    width: 150px;
    height: 150px;
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.cards_we {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.use_txt {
    color: rgb(10, 4, 75);
    font-family: Lobster;
    font-size: 26px;
    line-height: 38px;
    padding: 0px;
    margin-left: 10px;
}

.card_imgin {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.card_tit {
    color: rgb(173, 52, 62);
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card_txt {
    display: block;
    color: rgb(65, 69, 54);
    padding: 30px;
    font-family: Lobster;
    font-size: 16px;
    margin-top: -80px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.card_img,
.info {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_img {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .card_img {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    margin-top: 80px;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .info {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 80px;
}



.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px) scale(.94);

}

.card_we {
    margin-bottom: 30px;
    width: 306px;
    height: 375px;
    box-sizing: border-box;
    /* Neutral/03 */
    border: 1.5px solid rgb(219, 223, 208);
    border-radius: 12px;
    background: #F5F5F5;
}

.card_text {
    margin-bottom: 50px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    font-family: Lobster;
}

.but_tit {
    color: rgb(10, 4, 75);
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Pacifico;
}

.butt_right {
    font-family: Lobster;
    font-size: 33px;
    max-width: 600px;
    margin-bottom: 50px;
}

.btns {
    display: flex;
    gap: 40px;
}

.but_btn {
    border-radius: 8px;
    background: rgb(62, 133, 168);
    height: 64px;
    color:#F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

 .slider {
    width: 1000px;
    height: 700px;
    overflow: hidden;
 }
 
 .middle {
    margin-left: 50%;
    margin-top: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
 }
 
 .navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
 }
 
 .bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.4s ease;
 }
 
 .bar:hover {
    opacity: 1;
    transform:scale(1.1);
 }
 
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 400%;
    height: 100%;
    display: flex;
 }
 
 .slide {
    width: 25%;
    transition: all 0.6s ease;
 }
 
 .img {
    width: 100%;
    height: 100%;
 }
 
 #r1:checked ~ .s1 {
    margin-left: 0;
 }
 
 #r2:checked ~ .s1 {
    margin-left: -25%;
 }
 
 #r3:checked ~ .s1 {
    margin-left: -50%;
 }
 
 #r4:checked ~ .s1 {
    margin-left: -75%;
 }
 .slide_text{
    padding: 50px 50px;
 }
 .slide_tit{
    font-family: Tauri ;
    font-size: 26px;
 }